* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(242, 242, 255);
}

#form {
  width: 51rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 2px 8px 7px rgb(195, 195, 224);
}

h1 {
  margin: 3rem auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  color: rgb(41, 160, 250);
  cursor: pointer;
}

h1:hover {
  animation: pulse 2s ease infinite;
}

h5 {
  text-align: center;
  margin-bottom: 3rem;
}

#fill {
  margin-left: 17.4%;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#fill #email {
  width: 20.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border-width: 1px;
}

#fill #send {
  height: 53px;
  width: 12rem;
  margin-left: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: rgb(41, 160, 250);
  cursor: pointer;
  border: none;
  /*transform: rotateY(180deg);*/
  animation: pulse 2s ease infinite;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fill #send img {
  height: 30px;
  width: 3rem;
}

@keyframes turn {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes pulse {
  50% {
    transform: scale(0.9, 0.9);
  }
}

#fill #send:hover {
  box-shadow: 6px 5px 10px rgb(95, 185, 254);
  transition: all 0.2s ease-out 0s;
}

#tick {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 9rem;
}

#check {
  cursor: pointer;
  margin-right: 1rem;
}

#tag {
  border: solid 1px;
  border-radius: 3px;
  width: 5rem;
  padding: 6px;
  margin: 3rem 0 0 9rem;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: black;
  border-color: black;
  box-shadow: 1px 2px 7px black;
}

/* #tag:hover{
    color: white;
    background-color: black;
    border-color: black;
    transition: all 0.3s;
    box-shadow: 1px 2px 7px black;
} */

#tag:hover {
  animation: turn 2s ease infinite;
}
